# Node modules should never be committed
node_modules/

# Build output directories
.next/
dist/

# Environment files
.env
.env.local

# Ignore macOS files
.DS_Store
# Ignore BFG files
bfg.jar
bfg-report/
sharefolio.git/

# Ignore extra files
out/
.env.development
.env.production
.env.test
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.next/cache/

# Ignore BFG Report Folder
..bfg-report/
