# Node modules should never be committed
node_modules/

# Build output directories
.next/
dist/

# Environment files
.env
.env.local

# Ignore macOS files
.DS_Store
# Ignore BFG files
bfg.jar
bfg-report/
sharefolio.git/
